@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="~/Home/About">About us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(../Main_Template_Files/images/single_2.jpg)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>About US</h2>
                    <p>
                        In Alaska Shop, we're dedicated to giving you the very best of fruits and vegetables, with a focus on three characteristics, ie: dependability, customer service, and uniqueness.
                        Founded in 2022 by Muhammad Gomaa, Volcano has come a long way from its beginnings in a starting location, ie: the home office. When Muhammad Gomaa first started out, his passion drove him to give him the impetus to turn hard work and inspiration into a booming online store. We now serve customers all over Egypt and are thrilled to be a part of the eco-friendly.
                        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us on hotline 20020
                    </p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="fa fa-truck"></span><span>free shipping</span>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="fa fa-money"></span><span>cash on delivary</span>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="fa fa-undo"></span><span>45 days return</span>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="fa fa-clock-o"></span><span>opening all week</span>
                </div>
            </div>
        </div>
    </div>

</div>

