@model Alaska.Models.User

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="~/Home/Contact">Contact US</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Contact Us -->

    <div class="row">

        <div class="col-lg-6 contact_col">
            <div class="contact_contents">
                <h1>Contact Us</h1>
                <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
                <div>
                    <p>(+20)-1141325682</p>
                    <p>gomaam671@yahoo.com</p>
                </div>
                <div>
                    <p>Open hours: 09.00 AM - 12.00 AM </p>
                </div>
            </div>

            <!-- Follow Us -->

            <div class="follow_us_contents">
                <h1>Follow Us</h1>
                <ul class="social d-flex flex-row">
                    <li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #fb4343"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #fb4321"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>Get In Touch With Us!</h1>
                <p>Fill out the form below because your opinion is matter for us.</p>
                <form action="~/Home/Contact" method="post">
                    <div>
                        <input type="hidden" name="User_ID" value="@Model.User_ID" />
                        <input class="form_input input_email input_ph" type="email" value="@Model.User_Email" placeholder="Email" required readonly>
                        <textarea maxlength="90000" name="Message_Desc" class="input_ph input_message" placeholder="Message"  required data-error="Please, leave a positive message."></textarea>
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">send message</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


